<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <style>
        .prokrutka {
            height: 270px; /* высота нашего блока */

            background: #fff; /* цвет фона, белый */
            border: 1px solid #C1C1C1; /* размер и цвет границы блока */
            overflow-x: scroll; /* прокрутка по горизонтали */
            overflow-y: scroll; /* прокрутка по вертикали */
        }
        .center {
            text-align: center;
        }
	.entry:not(:first-of-type)
	{
	    margin-top: 10px;
	}

	.glyphicon
	{
	    font-size: 12px;
	}
    </style>
<!--    <script>
        function getcontent(inp) {
            $("#retn").empty();
            $.ajax({
                type: "GET",
                url: "App/another_functions.py", dataType: "script",
                success: function (html) {
                    $("#retn").append(html);
                }

            });
        }
    </script>
-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сбор статистики</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- FIXME  https://github.com/OSLL/mooc-lp-statistics/issues/43 -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/spin.js"></script>
    <script src="/static/js/js_for_home_page.js"></script>

    <script type="text/javascript" src="/static/js/transition.js"></script>
    <script type="text/javascript" src="/static/js/collapse.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>

    <!-- <script src="/static/js/chartist.min.js"></script> -->
    <script src="/static/js/loader.js"></script>
    <script src="/static/js/dynamic-form-fields.js"></script>
    <script src="/static/js/URI.js"></script>
</head>
<body>
    <div id="popup-filter" class="alert alert-danger collapse"  data-toggle="collapse">
        <a href="#" class="close" aria-label="close" title="close" id="close-button" onclick="$('#popup-filter').hide()">x</a>
        Все поля в фильтре обязательны для заполнения.
    </div>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
    <section id="top">
        <div class="container-fluid">
 <!--         <div class="row">
              <div style="float: right">
                  Обработан лог-файл от {{prev_modified_date}} Текущий лог-файл от {{cur_modified_date }}
              </div>
          </div> -->
          <div class="row">
              <div style="float: right">
                  <button onclick="updateDB();this.disabled=true; " type="button " class="btn btn-success" {{update_button_disabled}} style="margin:10 10 10 10" >Обновить базу данных
              </div>
          </div>
        </div>
                <div class="col-md-6 text-left" style="'...'">
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <h3 align="center"> Параметры </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" align="left">Начало диапазона:
                            <div class="input-group">
                                <input id="first_date" type="text" class="form-control" placeholder="YYYY-M-D H:M:S.mS"
                                       aria-describedby="basic-addon1" value="2016-05-13 15:33:01.0">
                            </div>
                        </div>
                        <div class="col-md-3" align="left">Конец диапазона:
                            <div class="input-group">
                                <input id="second_date" type="text" class="form-control" placeholder="YYYY-M-D H:M:S.mS"
                                       aria-describedby="basic-addon1" value="2016-05-16 15:35:01.0">
                            </div>
                        </div>
                        <div class="col-md-3" align="left">Шаг:
                            <div class="left">
                                <select id="selected_interval">
                                    <option value="hour">Час</option>
                                    <option value="day">День</option>
                                    <option value="month">Месяц</option>
                                    <option value="year">Год</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align="left">События:
                            <div class="control-group" id="fields">
                                <div class="controls">
                                    <form role="form" autocomplete="off" onsubmit="return false">
                                        <div class="entry input-group col-md-12">
                                            <input class="form-control get-input-from-fields" name="fields[]" type="text" placeholder="Type something" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-add" type="button">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center">
                            <button id="show-res" onclick="processingData()" type="button " class="btn btn-success">Показать результаты
                            </button>
                        </div>
                        <div class="panel panel-default voffset2">
                            <p class="text-center">
                                Список событий
                            </p>
                        </div>
                        <div class="prokrutka">
                            <div id="list-group">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <h3 align="center">
                            График
                        </h3>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab1">Column Chart</a></li>
                        <li><a data-toggle="tab" href="#tab2">Pie Chart</a></li>
                        <li><a data-toggle="tab" href="#tab3">Classic Chart</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                Other
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="tab" href="#tab4">4</a></li>
                                <li><a data-toggle="tab" href="#tab5">5</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="col" id="columnChart" style="width:600px; height:600px"></div>
                        </div>
                        <div id="tab2" class="tab-pane fade">
                            <div class="col" id="pieChart" style="width:600px; height:600px"></div>
                        </div>
                        <div id="tab3" class="tab-pane fade">
                            <h3>Classic Chart</h3>
                        </div>
                        <div id="tab4" class="tab-pane fade">
                            <h3>График 4</h3>
                        </div>
                        <div id="tab5" class="tab-pane fade">
                            <h3>График 5</h3>
                        </div>
                    </div>
                </div>
          <!--  </div>-->
        </div>
    </section>
</body>
</html>
