<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <style>
        .prokrutka {
            height: 270px; /* высота нашего блока */

            background: #fff; /* цвет фона, белый */
            border: 1px solid #C1C1C1; /* размер и цвет границы блока */
            overflow-x: scroll; /* прокрутка по горизонтали */
            overflow-y: scroll; /* прокрутка по вертикали */
        }
        .center {
            text-align: center;
        }
    </style>
    <script>
        function getcontent(inp) {
            $("#retn").empty();
            $.ajax({
                type: "GET",
                url: "App/another_functions.py", dataType: "script",
                success: function (html) {
                    $("#retn").append(html);
                }

            });
        }
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сбор статистики</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- FIXME  https://github.com/OSLL/mooc-lp-statistics/issues/43 -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/js_for_home_page.js"></script>
    <script src="/static/js/jquery-1.5.1.js"></script>


<script type="text/javascript" src="/static/js/moment.js"></script>
<script type="text/javascript" src="/static/js/transition.js"></script>
<script type="text/javascript" src="/static/js/collapse.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>

    <!-- <script src="/static/js/chartist.min.js"></script> -->
    <script src="/static/js/loader.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            google.charts.load('current', {'packages':['bar']});

        });
    </script>
    <script type="text/javascript">
            $(function () {
                $('#first_date').datetimepicker({
                    format: "YYYY-M-D H:M:S.mS",
                    autoclose: true,
                    todayBtn: true,
                    minuteStep: 10
                });
            });
        </script>
    <script type="text/javascript">
            $(function () {
                $('#second_date').datetimepicker({
                    format: "YYYY-M-D H:M:S.mS",
                    autoclose: true,
                    todayBtn: true,
                    minuteStep: 10
                });
            });
    </script>
</head>
  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
  </body>
</html>

</head>
<body>
<section id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8 text-right">
                        <h3 align="center"> Фильтр времени </h3>
                    </div>
                    <div class="col-md-4">
                        <h3 align="center"> Фильтр событий </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" align="center">Начало диапазона
                        <div class="input-group">

                            <input id="first_date" type="text" class="form-control" placeholder="YYYY-M-D H:M:S.mS"
                                   aria-describedby="basic-addon1" value="2016-05-13 15:33:01.0">
                        </div>
                    </div>
                    <div class="col-md-4" align="center">Конец диапазона
                        <div class="input-group">
                            <input id="second_date" type="text" class="form-control" placeholder="YYYY-M-D H:M:S.mS"
                                   aria-describedby="basic-addon1" value="2016-05-16 15:35:01.0">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input id="first_event" type="checkbox">pdaemon is already running
                            </li>
                            <li class="list-group-item">
                                <input id="second_event" type="checkbox"> Two
                            </li>
                            <li class="list-group-item">
                                <input id="third_event" type="checkbox" value='three'>Three
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="center">
                        <button id="show-res" onclick="write_list()" type="button " class="btn btn-success">Показать результаты
                        </button>
                    </div>
                    <div class="panel panel-default voffset2">
                        <p class="text-center">
                            Список событий
                        </p>
                    </div>
                    <div class="prokrutka">
                        <div id="list-group">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h3 align="center">
                        График
                    </h3>
                </div>
                <div class="row voffset2">
                    <button class="btn btn-default" href="#" role="button">type1</button>
                    <button class="btn btn-default" type="submit">type2</button>
                </div>
                <div class="row" id="myChart">
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
